# Database Configuration
DATABASE_URL=postgresql://neondb_owner:npg_KRWvh0XABL5S@ep-curly-grass-ao3t85j5-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_b24taGFyZS0zMi5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_Ym3oct1GDkDdjYPtOimyy8RgLSoUivxsKOUykQgn8j
CLERK_WEBHOOK_SECRET=whsec_0rjyOjmX8NKeESFu6OEv1K7GAczWgbT5

# Google Gemini API Key
GEMINI_API_KEY=AIzaSyDF0Q9iXJ3eyJgn8EM4iYDHYuUzMc0AL9w

# Razorpay Payment Gateway
RAZORPAY_KEY_ID=rzp_live_SliQPWf4SPeMBZ
RAZORPAY_KEY_SECRET=WJrAxKHRWXE62YTkOtcBGRjM
RAZORPAY_WEBHOOK_SECRET=Atharva@1577
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_live_SliQPWf4SPeMBZ

# Resend Email API
RESEND_API_KEY=re_C3LtFVaw_4h8iQhikgc5ZzmY7C9e47kFD

# Clerk Redirect URLs
CLERK_AFTER_SIGN_IN_URL=/dashboard
CLERK_AFTER_SIGN_UP_URL=/dashboard
